<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head rel="stylesheet" th:replace="~{fragment/common :: head('mumo','/domain/Search/search.css')}">
</head>

<body>
    <nav class="navbar fixed-top" th:replace="~{fragment/common_nav :: top-nav('')}"></nav>

    <div class="container" th:if="${tag1 == null}" style="margin-top: 100px;">
        
        <form method="post" th:action="@{/search/result}" th:csrf class="search-form"> <!-- POST 방식으로 '/search/result' 경로로 검색어 전송 -->
            <i class="fas fa-search" style="color: #747272; width:27px; height:auto;"></i>
            <input type="text" name="searchKeyword" placeholder="찾으시는 뮤지컬이 없으신가요?" id="searchKeyword"/>
            <button type="submit">검색</button>
        </form>

        <div th:replace="~{fragment/musical_list_slider :: musicalList()}"></div>
        <div th:replace="~{fragment/musical_list_slider :: sliders('4')}"></div>    
    </div>

    <script th:inline="javascript">
        let musicals = /*[[ ${musicals} ]]*/[];
    </script>
    <script src="/domain/Search/search.js"></script>

</body>

</html>